#SIMULATOR_CONTAINER{
  height: 650px;
  width: 600px;
  position: fixed;
  top: 30px;
  right: 30px;
}

#SIMULATOR{
  position: fixed;
  width: 600px;
  height: 550px;
}

#AXES_SYSTEM{
  position: absolute;
  top: 130px;
  left: 10px;
}

#SIMULATOR_OUTPUT{
  height: 100px;
  width: auto;
  border: 2px grey solid;
  border-bottom: none;
  padding: 8px;
}

.ace_gutter-cell{
  /* padding-left: 8px !important; */
  text-align: left !important;
}

.ace_gutter-layer{
  width: 80px !important;
}

.ace_scroller{
  left: 82px;
}

.goto_div{
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 15px;
}

.goto_div_child{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  z-index: 9999;
}

.show {
  visibility: visible !important;
}
